@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model WebManageUsers

<div class="row">
    <div class="col-md-8">
        <form asp-controller="MgrUser" asp-action="Create" method="post" class="form-horizontal" role="form">
            <h4>注册新用户</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Model.LoginName
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Model.Email
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Model.Password
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RealName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @Model.RealName
                </div>
            </div>
        </form>
    </div>
</div>