@model List<WebManageUsers>
<div class="panel panel-default topics">
    <div class="panel-heading">
        <h3 class="panel-title">用户列表</h3>
    </div>
    <table class="table table-striped">
        <tr>
            <th>登陆名</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-controller="MgrUser" asp-action="Detail" asp-route-id="@item.Id">
                        @item.LoginName
                    </a>
                </td>
                <td><span class="badge">@item.AddTime</span></td>
                <td><a class="btn btn-primary btn-sm" onclick="detailFun('/MgrUser/Detail?id=@item.Id')">详细IFrame</a></td>
            </tr>
        }
    </table>

</div>

 