@model List<WebManageUsers>
<div class="panel panel-default topics">
    <div class="panel-heading">
        <h3 class="panel-title">用户列表</h3>
    </div>
    <div class="list-group">
        @foreach (var item in Model)
            {
            <a asp-controller="MgrUser" asp-action="Detail" asp-route-id="@item.Id" class="list-group-item">
                @item.LoginName <span class="badge">@item.AddTime</span>
            </a>
        }
    </div>
</div>
